body {
    background: none;
}
.tabla-pedido {
    margin: 0px auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.tabla-pedido tr {
    background-color: #fff
}
.tabla-pedido td {
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    text-align: center;
}
.tabla-pedido th {
    background: #E38F27;
    overflow: hidden;
    word-break: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
tr:nth-child(odd) {
    background-color: #f2f2f2
}
.carrito {
    margin-left: 30px;
}
.carrito .btn {
    margin: 15px auto;
    background-color: white;
    padding: 8px 32px;
    color: black;
    border: 1.5px solid #E38F27;
}
.carrito .btn:hover {
    background-color: #E38F27;
    color: white;
    cursor: pointer;
}
.carrito-content {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 3px;
    height: 400px;
    overflow: hidden;
}
.pqt {
    margin: 5em auto;
    text-align: center;
    color: #fff;
}
.pqt-box {
    display: inline-block;
    margin: 0 1em;
    padding: 3em;
    background: #111;
    font-size: 0.7em;
}
.flex-wrapper {
    display: flex;
}
.dyn-width-left {
    flex-grow: 1;
}
.fixed-width-right {
    max-width: 30%;
    text-align: center;
}
/* Estrellas */

form .calif {
    width: 250px;
    margin: 0 auto;
}
form p {
    text-align: center;
}
form label {
    font-size: 20px;
}
.calif input[type="radio"] {
    display: none;
}
.calif label {
    color: grey;
}
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}
.calif label:hover,
.calif label:hover ~ label {
    color: orange;
}
.calif input[type="radio"]:checked ~ label {
    color: orange;
}
/* Paquetes */

.tabla-precios {
    padding: 0;
    display: table;
    table-layout: fixed;
    margin-bottom: 3.125em;
    text-align: center;
    max-width: 100em;
    margin: 30px auto;
    width: 100%;
}
.tabla-precios column {
    display: block;
    text-align: center;
}

column{
    padding: 0;
    margin: 0;
}

column .paquete {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 1em;
    width: 15em;
    background-color: white;
}
.paq-head {
    background: url("http://placehold.it/240x165");
    color: #fff;
}
.paq-head h2 {
    margin: 0;
    padding-top: 1em;
    font-size: .7em;
    font-weight: normal;
}
.precio {
    font-size: 2.5em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
.precio span {
    display: block;
    text-transform: uppercase;
    font-size: 0.3em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.lista-productos {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.lista-productos li {
    padding: 0.5em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}
.btn-pedir {
    position: relative;
    bottom: -.5em;
}
.btn-pedir {
    color: #000 !important;
    border-radius: 2em;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}
.btn-pedir:hover {
    background-color: #E5E5E5;
}
.btn-pedir:active {
    color: #fff !important;
    background-color: royalblue;
}
@media (min-width: 42em) {
    .tabla-precios column {
        display: table-cell;
    }
}